.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .title {
    // TODO: css var here
    margin-bottom: 20px;
  }

  .list {
    margin: unset;
    padding: unset;
    list-style-type: none;
    // TODO: figure out an appealing scroll behavior
    overflow-y: scroll;
    width: 100%;
  }
}
