.title {
  margin-bottom: var(--vertical-spacing-normal);
}

.list {
  margin: unset;
  padding: unset;
  list-style-type: none;
  width: 100%;
}

.list-item {
  margin-bottom: var(--vertical-spacing-small);
}
