.App {
  height: 100vh;
  position: relative;
}

.window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.edit-mode-panel {
  position: absolute;
  top: 20px;
  right: 20px;
}
