* {
  box-sizing: border-box;
}

:root {
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --default-box-shadow: 0 1px 4px rgb(0 0 0 / 30%);

  --color-white: #ffffff;
  --color-off-white: #f7f7f7;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
