* {
  box-sizing: border-box;
}

:root {
  --border-radius-small: 4px;
  --border-radius-medium: 8px;

  --default-box-shadow: 0 1px 4px rgb(0 0 0 / 30%);

  --color-white: #ffffff;
  --color-off-white: #f7f7f7;
  --color-black: #000000;

  // TODO: implement fluid font sizes
  --font-size-small: 14px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-x-large: 32px;

  --vertical-spacing-small: 10px;
  --vertical-spacing-normal: 20px;

  --horizontal-spacing: 20px;
}

body {
  margin: 0;
  position: relative;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}
